<article class="listing">
    <img src="{{car.image}}" alt="">
  <h3>{{car.name}}</h3>
  <div class="detail type">
    <span>Tipo:</span> {{car.type}}
  </div>
  <div class="detail year">
    <span>Año:</span> {{car.year}}
  </div>
</article>
{{yield}}
